
.notes {
    position: relative;
}

.notes .info-card {
    /* background-color: var(--card-color); */
    color: var(--color);
    border: 1px solid var(--placeholder-text-color);
    border-radius: 10px;
    position: absolute;
    padding: 15px;
    font-size: 0.9rem;
    font-weight: 300;
    /* transform: ; */
}

.notes .info-card p.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
}

.notes .info-card p.description {
    margin: 10px 0;
}

.notes .info-card > ul {
    list-style: none;
}

.notes .info-card ul > li {
    padding: 5px 0;
}

.notes .info-card ul.uploaded-images-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.notes .info-card ul.uploaded-images-list li {
    padding: 10px;
    border: 1px solid var(--placeholder-text-color);
    margin: 10px auto;
}

.notes .info-card ul.uploaded-images-list li img.uploaded-image {
    width: 200px;
    height: 150px;
}

.notes .info-card ul.card-buttons {
    display: flex;
    justify-content: space-between;
    opacity: 0;
}

.notes .info-card:hover > ul.card-buttons {
    opacity: 1;
}

.notes .info-card span.reminder-info {
    border: 0.7px solid var(--placeholder-text-color);
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
}

.notes .info-card span.reminder-info i {
    padding: 2px 6px;
}

.notes .info-card span.reminder-info .clearReminder {
    padding-left: 14px;
    opacity: 0;
}

.notes .info-card span.reminder-info:hover > .clearReminder {
    opacity: 1;
}
