#note-checkbox:checked ~ #note {
    display: block;
}

#note > .popup {
    width: 45vw;
    min-width: 500px;
    border: 0.5px solid transparent;
    background-color: #202124;
    border-color: #5f6368;
    box-sizing: border-box;
    color: var(--color);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
}

#note > .popup .popup-body {
    overflow-y: auto;
    max-height: 70vh;
    height: 400px;
    padding: 0 5px;
}

#note > .popup .popup-body::-webkit-scrollbar {
    width: 10px;
}

#note > .popup .popup-body::-webkit-scrollbar-thumb {
    background-color: grey;
}

#note > .popup > .popup-header .list-icon-right {
    float: right;
    margin-right: 20px;
    padding: 0 5px;
    display: block;
    color: var(--icons-color);
    font-size: 1.5rem;
    /* font-size: 2rem; */
}

.active {
    color: white !important;
}


#note > .popup > .popup-header > p {
    margin: 10px 15px;
    outline: none;
}

#note > .popup > .popup-body > p {
    margin: 10px 10px;
    outline: none;
    font-size: 1.1rem;
    font-weight: 300;
}

/* #note > .popup > .popup-body > p.description {
    display: none;
} */

#note > .popup > .popup-header p.title:empty::before {
    content: "Title";
    /* width: 200px; */
    color: var(--placeholder-text-color);
}

#note > .popup > .popup-body p.description:empty::before {
        content: "Take a note...";
        color: var(--placeholder-text-color);
}

#note > .popup > .popup-body ul.input-list {
    /* display: none; */
    margin: 15px 0;
    font-size: 1rem;
    list-style: none;
}

#note > .popup > .popup-body ul.input-list li.list-item i.fa-plus {
    color: var(--placeholder-text-color);
    font-size: 1rem;
    float: left;
    margin: 0 10px 0 20px;  
    padding: 5px 0;
}

#note > .popup > .popup-body ul.input-list li.list-item  p {
    /* display: inline-block; */
    padding: 0 0 5px 40px;
    outline: none;
}

#note > .popup > .popup-body ul.input-list li.list-item  p:empty::before{
    content: "List item";
    color: var(--placeholder-text-color);
}

#note > .popup > .popup-body  div.images-section {
    margin: 10px;
}

#note > .popup > .popup-body  div.images-section form {
    text-align: center;
}

#note > .popup > .popup-body  div.images-section form > label.upload-btn {
    font-size: 2rem;
    display: none;
}

#note > .popup > .popup-body  div.images-section ul.uploaded-images-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#note > .popup > .popup-body  div.images-section ul.uploaded-images-list li {
    padding: 10px;
    border: 1px solid var(--placeholder-text-color);
    margin: 10px;
}

#note > .popup > .popup-body  div.images-section ul.uploaded-images-list li img.uploaded-image {
    width: 300px;
    height: 200px;
}

#note > .popup > .popup-body .label-info-container {
    display: flex;
    flex-wrap: wrap;
}

#note > .popup > .popup-body .label-info {
    border: 0.7px solid var(--placeholder-text-color);
    padding: 3px 5px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 45px;
    position: relative;
}

#note > .popup > .popup-body .label-info:hover {
    justify-content: flex-start;
}

#note > .popup > .popup-body .label-info:hover > span {
   width: calc(100% - 12px);
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   /* padding: 0 3px; */
   /* min-width: 0px; */
}

#note > .popup > .popup-body .label-info .clearLabel {
    line-height: 1.2rem;
    display: none;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 3px;
}

#note > .popup > .popup-body .label-info .clearLabel:hover  {
    background-color: rgba(250, 250, 250, 0.3);
}

#note > .popup > .popup-body .label-info:hover > .clearLabel {
    display: block;
}

#note > .popup > .popup-body span.reminder-info {
    border: 0.7px solid var(--placeholder-text-color);
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 0.7rem;
    display: inline-block;
    font-weight: 500;
}

#note > .popup > .popup-body span.reminder-info i {
    padding: 2px 6px;
}

#note > .popup > .popup-body span.reminder-info .clearReminder {
    padding-left: 14px;
    opacity: 0;
}

#note > .popup > .popup-body span.reminder-info:hover > .clearReminder {
    opacity: 1;
}


#note > .popup > .popup-footer .buttons-tray {
    color: var(--icons-color);
    font-size: 1.1rem;
    /* justify-content: space-between; */
    padding: 10px;
    /* margin: 0 10px; */
}

#note > .popup > .popup-footer .buttons-tray ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    /* display: inline; */
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list > li {
    padding: 10px;
    /* display: inline-block; */
    cursor: pointer;
}

#note > .popup > .popup-footer .buttons-tray ul li.color-btn ul.color-palette {
    position: absolute;
    display: none;
    width: 140px;
    flex-wrap: wrap;
    background-color: var(--background-color);
    z-index: 1;
    margin-left: -5px;
    margin-top: -5px;
}

#note > .popup > .popup-footer .buttons-tray ul li.color-btn ul.color-palette li.color {
    box-sizing: border-box;
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.color-btn i:hover ~ ul.color-palette {
    display: flex;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.color-btn ul.color-palette:hover {
    display: flex;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container {
    position: absolute;
    display: none;
    z-index: 2;
    background: var(--background-color);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6), 0 2px 6px 2px rgba(0,0,0,0.302);
    font-size: 0.8rem;
    border-radius: 5px;
    width: 300px;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container p {
    padding: 10px;
    font-weight: 600;
    color: var(--color);
    border-bottom: 0.7px solid var(--placeholder-text-color);
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container p .close-reminder-btn {
    float: right;
    font-size: 1.2rem;
    display: none;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container:hover p .close-reminder-btn {
    display: initial;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn form.reminder-form {
    padding: 10px 15px;
    overflow: hidden;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container input {
    margin: 10px auto;
    color: var(--color);
    border: none;
    border-bottom: 0.7px solid var(--placeholder-text-color);
    width: 100%;
    background: var(--background-color);
    outline: none;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container input::-webkit-calendar-picker-indicator {
    filter: invert(0.6);
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container select {
    margin: 10px auto;
    color: var(--color);
    border: none;
    border-bottom: 0.7px solid var(--placeholder-text-color);
    width: 100%;
    background: var(--background-color);
    outline: none;
}

#note > .popup > .popup-footer .buttons-tray ul.buttons-list li.reminder-btn div.reminder-form-container button {
    font-size: inherit;
    float: right;;  
}

#note > .popup > .popup-footer .buttons-tray .btn-right {
    padding: 10px 10px;
    border: none;
    color: var(--icons-color);
    background-color: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
}

#note > .popup > .popup-footer .buttons-tray .btn-right:hover {
    background-color: #41331c;
}
