* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

:root {
    --background-color:#1F2937;
    --color: #DBEAFE;
    --card-color: #A7F3D0; 
}

body {
    background-color: var(--background-color);
}

section.container {
    background-color: var(--background-color);
    left: 70px;
    top: 70px;
    position: absolute;
    width: calc(100vw - 70px);
    height: calc(100vh - 70px);
}

#sidebar-btn:checked ~ section.container {
    left: 250px;
    width: calc(100vw - 250px);
}

section.container main.notes {
    position: relative;
}