* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

:root {
    --background-color:#1F2937;
    --color: #DBEAFE;
    --card-color: #A7F3D0; 
}

body {
    background-color: var(--background-color);
}

section.container {
    background-color: var(--background-color);
    left: 70px;
    top: 70px;
    position: absolute;
    width: calc(100vw - 70px);
    height: calc(100vh - 70px);
}

section.container header.input-tab {
    border: 0.5px solid white;
    height: 50px;
    min-width: 200px;
    width: 50vw;
    margin: auto;
    margin-top: 10px;
    color: var(--color);
    padding: 10px;
    border-radius: 15px;
    font-size: 1.6rem;
}

/* section.container header.input-tab span {
    font-size: 2rem;
} */

section.container header.input-tab .list-icon {
    float: right;
    margin-right: 10px;
    /* font-size: 2rem; */
}

#sidebar-btn:checked ~ section.container {
    left: 250px;
    width: calc(100vw - 250px);
}

section.container main.notes {
    position: relative;
}