section.container header.input-header {
    border: 0.5px solid var(--placeholder-text-color);
    min-width: 300px;
    box-sizing: border-box;
    width: 50vw;
    margin: auto;
    margin-top: 10px;
    color: var(--color);
    /* padding: 10px; */
    border-radius: 10px;
    font-size: 1.3rem;
}

/* section.container header.input-header .input-tab-btn {
    height: 50px;
    display: block;
} */

section.container header.input-header .list-icon-right {
    float: right;
    margin-right: 20px;
    padding: 0 5px;
    display: block;
    color: var(--icons-color);
    font-size: 1.1rem;
    /* font-size: 2rem; */
}

section.container header.input-header .input-tab {
    display: none;
    overflow: auto;
    padding-top: 15px;
    background-color: var(--background-color);
}

section.container header.input-header .input-tab-btn {
    color: var(--placeholder-text-color);
    padding: 15px;
}

section.container header.input-header .input-tab > p {
    margin: 15px 15px;
    outline: none;
}

section.container header.input-header .input-tab > p.description {
    display: none;
}

/* section.container header.input-header .input-tab span {
    margin: 15px 10px;
    outline: none;
} */

section.container header.input-header .input-tab p.title:empty::before {
    content: "Title";
    /* width: 200px; */
    color: var(--placeholder-text-color);
}

section.container header.input-header .input-tab p.description:empty::before {
        content: "Take a note...";
        color: var(--placeholder-text-color);
}

section.container header.input-header .input-tab .buttons-tray {
    color: var(--icons-color);
    font-size: 1.1rem;
    /* justify-content: space-between; */
    padding: 10px;
    /* margin: 0 10px; */
}

section.container header.input-header .input-tab .buttons-tray ul {
    /* display: flex; */
    list-style: none;
    display: inline;
}

section.container header.input-header .input-tab .buttons-tray ul.buttons-list > li {
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}

section.container header.input-header .input-tab .buttons-tray ul li.color-btn ul.color-palette {
    position: absolute;
    display: none;
    width: 140px;
    flex-wrap: wrap;
    background-color: var(--background-color);
    z-index: 1;
}

section.container header.input-header .input-tab .buttons-tray ul li.color-btn ul.color-palette li.color {
    box-sizing: border-box;
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
}

section.container header.input-header .input-tab .buttons-tray ul.buttons-list li.color-btn i:hover ~ ul.color-palette {
    display: flex;
}

section.container header.input-header .input-tab .buttons-tray ul.buttons-list li.color-btn ul.color-palette:hover {
    display: flex;
}

section.container header.input-header .input-tab .buttons-tray .btn-right {
    padding: 10px 10px;
    border: none;
    color: var(--icons-color);
    background-color: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
}

section.container header.input-header .input-tab .buttons-tray .btn-right:hover {
    background-color: #41331c;
}

section.container header.input-header .input-tab ul.input-list {
    display: none;
    margin: 15px 0;
    font-size: 1.2rem;
    list-style: none;
}

section.container header.input-header .input-tab ul.input-list li.list-item i.fa-plus {
    color: var(--placeholder-text-color);
    font-size: 1rem;
    float: left;
    margin: 0 10px 0 20px;  
    padding: 5px 0;
}

section.container header.input-header .input-tab ul.input-list li.list-item  p {
    /* display: inline-block; */
    padding: 5px 0 5px 40px;
}

section.container header.input-header .input-tab ul.input-list li.list-item  p:empty::before{
    content: "List item";
    color: var(--placeholder-text-color);
}

section.container header.input-header .input-tab  div.images-section {
    margin: 10px;
}

section.container header.input-header .input-tab  div.images-section form {
    text-align: center;
}

section.container header.input-header .input-tab  div.images-section form > label.upload-btn {
    font-size: 2rem;
    display: none;
}

section.container header.input-header .input-tab  div.images-section ul.uploaded-images-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

section.container header.input-header .input-tab  div.images-section ul.uploaded-images-list li {
    padding: 10px;
    border: 1px solid var(--placeholder-text-color);
    margin: 10px;
}

section.container header.input-header .input-tab  div.images-section ul.uploaded-images-list li img.uploaded-image {
    width: 200px;
    height: 200px;
}